# Site settings
title: DaffaDev - Portfolio
description: "A collection of innovative projects and resources for modern developers."
baseurl: "/TEST" # the subpath of your site, e.g. /blog
url: "https://daffadevhosting.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  daffadevhosting # your GitHub username

# Build settings
markdown: kramdown

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
