    <div id="suggestions" class="relative z-[20] flex flex-wrap gap-2 px-3 py-2 text-sm text-gray-300 border-b border-gray-800 bg-gray-900 z-80">
    <img src="{{site.baseurl}}/assets/images/og-image.png" class="w-12 h-12 rounded-full object-cover">
      <button class="cursor-pointer glow-btn px-4 py-2 border border-purple-500 rounded-full hover:bg-purple-500/20 transition-all neon-text" data-suggest="ada repo AI chatbot?">ada repo AI chatbot?</button>
      <button class="cursor-pointer glow-btn px-4 py-2 border border-purple-500 rounded-full hover:bg-purple-500/20 transition-all neon-text" data-suggest="repo yang trending?">repo yang trending?</button>
    </div>
