<ion-list>
  <ion-item href="{{site.baseurl}}/" class="nav-item">
    <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
    <ion-label>Beranda</ion-label>
  </ion-item>
  <ion-item href="{{site.baseurl}}/product" class="nav-item">
    <ion-icon aria-hidden="true" name="storefront" slot="start"></ion-icon>
    <ion-label>Produk</ion-label>
  </ion-item>
  <ion-item href="{{site.baseurl}}/login" class="nav-item">
    <ion-icon aria-hidden="true" name="person" slot="start"></ion-icon>
    <ion-label>Admin</ion-label>
  </ion-item>
  <ion-item href="{{site.baseurl}}/about" class="nav-item">
    <ion-icon aria-hidden="true" name="person" slot="start"></ion-icon>
    <ion-label>About</ion-label>
  </ion-item>
</ion-list>