<div class="grid_content">
{% for product in site.data.product %}
<ion-card>
  <img alt="{{ product.nama }}" src="{{ product.image }}" />
  <ion-card-absolute>
  <ion-card-header>
    <ion-card-title>Rp. {{ product.harga }}</ion-card-title>
    <ion-card-subtitle>{{ product.nama }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
  </ion-card-absolute>
</ion-card>
{% endfor %}
</div>