<ion-header>
    <ion-toolbar>
      <ion-title>{{page.title}}</ion-title>
    {% if page.url == "/" %}
      <ion-buttons slot="end">
        <ion-button id="adminLogin">
            <ion-icon size="large" name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    {% elsif page.url == "/login" %}{% elsif page.url == "/dashboard" %}
      <ion-buttons slot="end">
        <ion-button id="myblog">
            <ion-icon size="large" name="newspaper-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
{% endif %}
    </ion-toolbar>
  </ion-header>

<script>
  document.getElementById("adminLogin").addEventListener("click", function () {
    window.location.href = "{{site.baseurl}}/login";
  });
  document.getElementById("myblog").addEventListener("click", function () {
    window.location.href = "{{site.baseurl}}/dashboard/post";
  });
</script>