<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{page.title}}</ion-title>
    {% if page.url == "/" %}
      <ion-buttons slot="end">
        <ion-button id="adminLogin">
            <ion-icon size="large" slot="icon-only" name="log-in-outline" color="success"></ion-icon>
        </ion-button>
      </ion-buttons>
<script>
  document.getElementById("adminLogin").addEventListener("click", function () {
    window.location.href = "{{site.baseurl}}/login";
  });
</script>
{% elsif page.url == "/login" %}{% elsif page.url == "/dashboard/tambah" %}
      <ion-buttons slot="end">
        <ion-button id="myBlog">
            <ion-icon size="large" slot="icon-only" name="newspaper-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
<script>
  document.getElementById("myBlog").addEventListener("click", function () {
    window.location.href = "{{site.baseurl}}/";
  });
</script>
{% elsif page.url == "/dashboard/post" %}
      <ion-buttons slot="end">
        <ion-button id="editblog">
            <ion-icon size="large" slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
<script>
  document.getElementById("editblog").addEventListener("click", function () {
    window.location.href = "{{site.baseurl}}/dashboard/tambah";
  });
</script>
{% elsif page.url == "/product" %}
      <ion-buttons slot="end">
        <ion-button id="addProduct" shape="round">
            <ion-icon size="large" slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
<script>
  document.getElementById("addProduct").addEventListener("click", function () {
    window.location.href = "{{site.baseurl}}/product/add/product";
  });
</script>
{% endif %}
    </ion-toolbar>
  </ion-header>