<ion-footer [translucent]="true" slot="bottom">
  <ion-toolbar>
  <ion-buttons slot="start">
<a href="https://github.com/daffadevhosting/daffadevhosting.github.io/fork">
    <ion-button fill="solid">
      <ion-icon slot="start" name="git-branch"></ion-icon>
      Fork This
    </ion-button>
</a>
  </ion-buttons>
{% if page.url == "/dashboard/post" %}
<ion-buttons slot="end">
<ion-button fill="solid" color="danger" id="logoutBtn">Logout</ion-button>
</ion-buttons>
{% endif %}
  </ion-toolbar>
</ion-footer>