---
---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang | default: 'id' }}{% endif %}">
{% include head.html %}
<body>

<ion-app>
  <ion-content scroll-y="false">
    
{{ content }}

  </ion-content>
</ion-app>

{% include module.html %}
{% include applet.html %}
{% include pwa-button.html %}
<!-- Skrip Registrasi Service Worker -->
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}')
        .then(reg => console.log('Service Worker terdaftar!', reg))
        .catch(err => console.log('Registrasi gagal: ', err));
    });
  }
</script>

</body>
</html>
