<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'id | ID' }}">

    {% include head.html %}
    <body>
        <ion-app>
            {% include ion-menu.html %}
<div class="ion-page" id="main-content">
            {% include ion-header.html %}
           <ion-content [fullscreen]="true" {% if page.url == '/product' %} class="ion-no-padding"{% elsif page.url == '/blog/' %} class="ion-padding"{% endif %}>
                {{content}}
           </ion-content>
            {% include ion-footer.html %}
</div>
{% include cookieSheet.html %}
        </ion-app>
    </body>
</html>