---
---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang | default: 'id' }}{% endif %}">
{% include head.html %}
<body>

<ion-app>
  <ion-content scroll-y="false">
    
{{ content }}

  </ion-content>
</ion-app>

{% include module.html %}
{% include applet.html %}
{% include pwa-button.html %}
<!-- Skrip Registrasi Service Worker -->
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}')
      .then(reg => console.log('SW registered:', reg))
      .catch(err => console.log('SW registration failed:', err));
  }
</script>

</body>
</html>
