---
layout: default
---
<style>
.wrapper-masthead {display:none;}
</style>

<div class="back-page">
<a href="{{ site.baseurl }}/">
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
  <i class="material-icons">arrow_back</i>
</button>
</a>
<span class="mdl-chip" style="vertical-align: middle;float: right;">
    <span class="mdl-chip__text">
    Written on {{ page.date | date: "%B %e, %Y" }}</span>
</span></div>
<article class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
<div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url({{ page.image }}); height: 280px;">
</div>
<div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
  <h3>{{ page.title }}</h3>
            </div>
  <div class="post mdl-color-text--grey-700 mdl-card__supporting-text">
    {{ content }}
  </div>


  {% include disqus.html %}
</article>
